spring:
  application:
    name: musicapi

  datasource:
    url: jdbc:postgresql://postgres:5432/music
    username: music
    password: music

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

  flyway:
    enabled: true

server:
  port: 8080

minio:
  url: http://minio:9000
  access-key: minio
  secret-key: minio123
  bucket: albums

management:
  endpoints:
    web:
      exposure:
        include: health,info
